colors {
    color: #E6D7CC;
    color: #E1BA7B;

    color: #EED093;
    color: #F2DBA6;
    color: #F5E8CA;

    color: #F6F5E8;
}

body {
    
    color: #777777;

    background-color : #E6D7CC;

    font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: "jenna";
	src: url('JennaSue.ttf');
}

#creator {
    float: left;
    width: 25%;

    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;

    background-color: #F2DBA6;
    border-radius: 15px;
}

#creator textarea {

    resize: none;
    width: 100%;
    height: 100px;

    margin-top: 10px;
    background-color: #F5E8CA;

    border-right: 2px solid #F5E8CA;
    border-bottom: 2px solid #F5E8CA;
    border-left: 2px solid #EED093;
    border-top: 2px solid #EED093;
}

#todolist {
    float: right;
    width: 60%;   
    margin-top: 20px;
    margin-right: 20px;
}

.task {
    padding: 20px;

    margin-top: 20px;
    background-color: #F6F5E8;
    border-radius: 15px;

    min-height: 60px;
}

.head {
    display: inline-block;
    float: left;
}

.content {

    display: inline-block;
    width: 85%;

    font-family: "jenna";
    font-size: 35px;
    
}

.foot {
    display: inline-block;
    float: right;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.change {
    float: left;
}

.delete {
    float: right;  
}

button {

    margin-top: 10px;
    padding: 5px 10px;

    background-color: #E6D7CC;

    border-radius: 15px;

    border-right: 2px solid #EED093;
    border-bottom: 2px solid #EED093;
    border-left: 2px solid #F5E8CA;
    border-top: 2px solid #F5E8CA;

    color: #777777;
}

button:active {

    border-right: 2px solid #F5E8CA;
    border-bottom: 2px solid #F5E8CA;
    border-left: 2px solid #EED093;
    border-top: 2px solid #EED093;
}